@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 245 247 250;
    --foreground: 23 45 65;
    --card: 255 255 255;
    --card-foreground: 23 45 65;
    --popover: 255 255 255;
    --popover-foreground: 23 45 65;
    --primary: 23 45 65;
    --primary-foreground: 255 255 255;
    --secondary: 230 241 250;
    --secondary-foreground: 77 156 209;
    --muted: 174 186 204;
    --muted-foreground: 83 101 133;
    --accent: 77 156 209;
    --accent-foreground: 230 241 250;
    --destructive: 239 68 68;
    --destructive-foreground: 249 250 251;
    --border: 236 238 242;
    --input: 236 238 242;
    --ring: 23 45 65;
    --radius: 1rem;
    --radius-large: 10rem;
    --radius-small: 0.25rem;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .section-container {
    @apply w-full px-4 md:px-8 xl:px-12;
  }
  h1 {
    @apply font-extrabold text-3xl md:text-5xl lg:text-6xl leading-tight tracking-tight my-4 md:my-6;
  }
  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tight mb-3 sm:mb-4 md:mb-5 lg:mb-6;
  }
  h3 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold leading-tight tracking-tight mb-1 sm:mb-2 md:mb-3 lg:mb-4;
  }
  p {
    @apply text-base  my-2 md:my-3 text-muted-foreground;
  }
  ul {
    @apply list-disc pl-6 text-base  text-muted-foreground my-2 md:my-3;
  }
  li {
    @apply mb-2 md:mb-3;
  }
  ul li::marker {
    color: rgb(var(--muted-foreground)) !important;
    opacity: 1 !important;
  }
}

#sticky-video,
#sticky-video.is-shrunk {
  transition: all 1s cubic-bezier(0.4,0,0.2,1);
  border-radius: 0.5rem;
}

#sticky-video.is-shrunk {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #sticky-video,
  #sticky-video.is-shrunk {
    border-radius: 1rem;
  }
  #sticky-video.is-shrunk {
    max-width: 768px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  #sticky-video.is-shrunk {
    max-width: 1024px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  #sticky-video,
  #sticky-video.is-shrunk {
    border-radius: 1.5rem;
  }
}

#sticky-video video {
  border-radius: inherit;
}

img, .next-image-class {
  border-radius: 0.5rem;
  object-fit: cover;
}

figure {
  @apply flex flex-col items-center text-muted-foreground my-8 text-xs font-medium tracking-wide;
}

figcaption {
  @apply text-center mt-2 leading-snug;
}

a {
  text-decoration: none !important;
  transition: color 0.2s;
}

/* Logo gradient hover effect */
.logo-gradient-hover:hover path {
  fill: url(#logoGradient) !important;
}




